<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='config.xsd'>
    <layoutbackbone>Project</layoutbackbone>
	<layoutAxis_X>ObjectPosition_X</layoutAxis_X>
	<layoutAxis_Y>ObjectPosition_Z</layoutAxis_Y>
	<layoutscale>1.0</layoutscale>
	<showentitydate>true</showentitydate>
    <edgetype>
        <edge>Neutral</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Credits</edge>
        <edgestroke>MEAN</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Quality</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Progress</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Aid</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>AVERAGE</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Val</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Discovery</edge>
        <edgestroke>true</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Repair</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Bug</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>TC</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Morale</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Stamina</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Prototype</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <edgetype>
        <edge>Negotiation</edge>
        <edgestroke>MAX</edgestroke>
        <collapsefunction>SUM</collapsefunction>
    </edgetype>
    <colorscheme>
        <attribute>Morale</attribute>
        <class>ActivityScheme</class>
        <values></values>
        <goodvalue>100</goodvalue>
        <badvalue>0</badvalue>
    </colorscheme>
    <colorscheme>
        <attribute>Stamina</attribute>
        <class>ActivityScheme</class>
        <values></values>
        <goodvalue></goodvalue>
        <badvalue></badvalue>
    </colorscheme>
    <colorscheme>
        <attribute>Hours</attribute>
        <class>ActivityInvertedScheme</class>
        <values></values>
        <goodvalue>16</goodvalue>
        <badvalue>0</badvalue>
    </colorscheme>
    <colorscheme>
        <attribute>Credits</attribute>
        <class>EntityScheme</class>
        <values></values>
        <goodvalue></goodvalue>
        <badvalue></badvalue>
    </colorscheme>
    <colorscheme>
        <attribute>Role</attribute>
        <class>ActivityMultiScheme</class>
        <values>Analyst Architect Manager Marketing Programmer Tester</values>
        <goodvalue></goodvalue>
        <badvalue></badvalue>
    </colorscheme>
    <colorscheme>
        <attribute>Weekend</attribute>
        <class>WeekendScheme</class>
        <values>Sat Sun</values>
        <goodvalue></goodvalue>
        <badvalue></badvalue>
    </colorscheme>
    <vertexstroke>
        <attribute>Role</attribute>
        <values>Idle Fired Promotion Training Hired</values>
    </vertexstroke>
    <activitycolor>
        <attribute>Task</attribute>
        <value>Idle</value>
        <vercolor>
            <r>238</r>
            <g>180</g>
            <b>180</b>
        </vercolor>
    </activitycolor>
    <activitycolor>
        <attribute>Role</attribute>
        <value>Training</value>
        <vercolor>
            <r>102</r>
            <g>0</g>
            <b>102</b>
        </vercolor>
    </activitycolor>
    <activitycolor>
        <attribute>Task</attribute>
        <value>Fired</value>
        <vercolor>
            <r>139</r>
            <g>69</g>
            <b>19</b>
        </vercolor>
    </activitycolor>
    <activitycolor>
        <attribute>Task</attribute>
        <value>Promotion</value>
        <vercolor>
            <r>0</r>
            <g>153</g>
            <b>0</b>
        </vercolor>
    </activitycolor>
    <activitycolor>
        <attribute>Task</attribute>
        <value>Hired_Employee</value>
        <vercolor>
            <r>139</r>
            <g>136</g>
            <b>120</b>
        </vercolor>
    </activitycolor>
    <activitycolor>
        <attribute>Task</attribute>
        <value>Negotiation</value>
        <vercolor>
            <r>193</r>
            <g>205</g>
            <b>193</b>
        </vercolor>
    </activitycolor>

</config>
